NODE_ENV = "development"

PORT = 4000

DATABASE_URL="postgresql://postgres:SHArish@localhost:5432/blogapplication"
FRONTEND_URL="https://localhost:5173"

JWT_ACCESS_TOKEN_SECRET = "bhsfbdshureur9uer9ue9r90rew9bjre6ty7576tyugy88uipltt78yi"
JWT_ACCESS_TOKEN_EXPIRY = "1d"
JWT_REFRESH_TOKEN_SECRET = "hhjsdfjiou0ere098r90e8rejknljjv7t876yo78ghjgkhgygfcxivvfvanopo"
JWT_REFRESH_TOKEN_EXPIRY = "30d"
CLOUDINARY_CLOUD_NAME = "your_cloudinary_cloud_name"
CLOUDINARY_API_KEY = "your_cloudinary_api_key"
CLOUDINARY_API_SECRET = "your_cloudinary_api_secret"